@font-face {
    font-family: Cyberverse bold;
    src: url(/fonts/Cyberverse.otf);
}



body {
    background-color: #a9a9a9;
    padding: 0;
    margin: 0;

}

.clock_container {
    box-sizing: border-box;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -42.5px 0 0 -180px;
    width: 360px;
    background-color: #000000;
    color: #ffffff;



}

.clock_box {
    text-align: center;
    font-family: Cyberverse Bold;
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-size: 300%;
    position: relative;
    display: flexbox;
    width: 32%;
    padding: 10px 10px 10px 10px;
}

.clock_box_ {
    text-align: center;
    font-family: Cyberverse Bold;
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-size: 300%;
    position: relative;
    display: grid;
    padding: 5px 0 10px 0;
    width: 2%;

}


